.item-list-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #111827;
    padding: 3rem 2rem 1rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;

    div {
      display: flex;
    } 
  }
}